:root {
    --background-accent: #913737; //#375b91;
    --background-accent-light: #aa4646; // #375b91;
}

#ob--nsfw {
    z-index: 9998;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    transition: 0.5s ease-out;
    display: flex;

    #ob--content {
        position: absolute;
        z-index: 9999;
        top: 40%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);

        #ob--img {
            display: block;
            margin: 0 auto;
            width: 40px;
            height: 40px;
        }

        #ob--p {
            font-family: Helvetica, Arial, sans-serif;
            color: #fff;
            margin: 16px 0;
        }

        #ob--button {
            z-index: 10000;
            color: #fff;
            width: 100%;
        }
    }
}

.ob--button {
    outline: none;
    color: var(--text-normal);
    background: var(--background-accent);
    transition: 0.1s ease-in-out;

    -webkit-tap-highlight-color: transparent;
    align-items: center;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    flex-shrink: 0;
    font-weight: 500;
    height: 32px;
    justify-content: center;
    min-width: 5.14em;
    outline-width: 0;
    padding: 8px 16px;
    position: relative;
    user-select: none;
    text-decoration: none;

    --ink-color: white;
    --paper-ripple-opacity: 0.32;
    background-color: var(--background-accent);
    border: none;

    &:hover {
        background-color: var(--background-accent-light);
    }

    &.outline {
        background: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        color: var(--background-accent);
        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }
    }
}
