browser-menu {
    z-index: 1000;
    position: absolute;
    background: var(--background-primary);
    border-radius: 5px;
    padding: 5px 0;
    display: none;
    flex-flow: column;
    color: var(--text-normal);
    width: fit-content;
    min-width: 200px;
    font-family: Helvetica, Arial, sans-serif;
    user-select: none;
    overflow: hidden;

    menu-item {
        display: grid;
        grid-template-columns: 24px 1fr 24px;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: ". . .";
        padding: 3px 5px;

        .icon {
            height: 24px;
            width: 24px;
            display: flex;

            i {
                margin: auto;
                font-size: 14px;
            }
        }

        .text {
            margin: 0 5px;
            p {
                margin: 0;
                line-height: 24px;
                font-size: 14px;
            }
        }

        &:hover {
            background: var(--background-secondary);
        }
    }

    menu-footer {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas: ". .";
        margin-bottom: -5px;
        padding: 3px 0;

        .icon {
            height: 24px;
            width: 24px;
            display: flex;

            i {
                margin: auto;
            }
        }

        .text {
            margin: 0 5px;
            p {
                margin: 0;
                line-height: 24px;
            }
        }

        &:hover {
            background: var(--background-secondary);
        }
    }

    separator {
        width: 100%;
        height: 1px;
        background: rgba(0, 0, 0, 0.2);
        margin: 3px 0;
    }
}