:root {
    --background-primary: #36393f;
    --background-secondary: #2f3136;
    --background-secondary-alt: #292b2f;
    --background-tertiary: #202225;
    --background-accent: #375b91;

    --icon-color: #e0e0e0;

    --tab-active: #2d2d2d;
    --tab-color: #000000;
    --tab-hover: #101010;
    --border: #4e4e4e;

    --url-textbox: #3f3f3f;
    --url-textbox-focus: #202124;

    --color-green: #549137;
    --color-orange: #915b37;
    --color-red: #913737;
}

body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "fontello";
    src: url("app/vendors/fontello-d974056e/font/fontello.eot?15407294");
    src: url("app/vendors/fontello-d974056e/font/fontello.eot?15407294#iefix") format("embedded-opentype"),
        url("app/vendors/fontello-d974056e/font/fontello.woff?15407294") format("woff"),
        url("app/vendors/fontello-d974056e/font/fontello.ttf?15407294") format("truetype"),
        url("app/vendors/fontello-d974056e/font/fontello.svg?15407294#fontello") format("svg");
    font-weight: normal;
    font-style: normal;
}

.symbol {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
}
